<footer class="d-flex justify-content-center py-3 " >
    <div class="container row row-cols-1 row-cols-md-2 row-cols-lg-4 py-3 ">
        <div class="col ">
            <h2 class="text-white mb-3 text-muted">my<span class="text-white">HOME</span></h2>
            <p class="text-muted">Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at
                vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.
            </p>
        </div>
        <div class="col">
            <h2 class="text-white  mb-3">Information</h2>
            <ul class="text-muted list-unstyled">
                <li class="my-4"> +546 990221 123
                </li>
                <li class="my-4"> Main Str, no 23, New York
                </li>
                <li class="my-4"> hosting@contact.com
                </li>
            </ul>
        </div>
        <div class="col">
            <h2 class="text-white  mb-3">Properties Types
            </h2>
            <ul class="list-unstyled">
                <li class="my-2"><a href="#" class="text-white-50">Proprties for rent</a></li>
                <li class="my-2"><a href="#" class="text-white-50">Proprties for sale</a></li>
                <li class="my-2"><a href="#" class="text-white-50">Commercials</a></li>
                <li class="my-2"><a href="#" class="text-white-50">Homes</a></li>
                <li class="my-2"><a href="#" class="text-white-50">Villas</a></li>
                <li class="my-2"><a href="#" class="text-white-50">Office</a></li>
                <li class="my-2"><a href="#" class="text-white-50">Residental</a></li>
                <li class="my-2"><a href="#" class="text-white-50">Apartments</a></li>
                <li class="my-2"><a href="#" class="text-white-50">Off plan</a></li>
            </ul>
        </div>
        <div class="col">
            <h2 class="text-white  mb-3">Useful links</h2>
            <ul class="list-unstyled">
                <li class="my-2"><a href="#" class="text-white-50">Listings</a></li>
                <li class="my-2"><a href="#" class="text-white-50">Testemonials</a></li>
                <li class="my-2"><a href="#" class="text-white-50">Featured Properties</a></li>
                <li class="my-2"><a href="#" class="text-white-50">Contact Agent</a></li>
                <li class="my-2"><a href="#" class="text-white-50">About us</a></li>
            </ul>
        </div>

    </div>
</footer>
<section class="codedBy">
    <div class="container">
        <p> codedBy : <a href="https://github.com/saadayman" target="_blank">Sa'ed Ayman GitHUB</a></p>   
    </div>
        
</section>
<a href="#" class="btn btn-dark text-white back-to-top"><i class="fa fa-arrow-up"></i></a>


<script src="https://kit.fontawesome.com/2cbd2cdf84.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="/scripts/scripts.js"></script>

</body>
</html>