<section class="aboutSection">
  <div class="container-fluid">
    <h2 class="text-white m-0 p-0">About Us</h2>
  </div>
</section>

<section class="who-we-are my-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-2">
      <div class="col">
        <div class="container">
          <h4 class="text-muted">THE BEST DEALS</h4>
          <h1 class="mb-5">Who are we ?</h1>
          <p class="text-muted mb-5">
            Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae
            sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse
            fringilla lobortis justo, ut tempor leo cursus in. Nulla aliquet
            bibendum sem, non placerat risus venenatis at. Prae sent vulputate
            bibendum dictum. Cras at vehicula urna. Suspendisse fringilla
            lobortis justo, ut tempor leo cursus in.
          </p>
          <button class="btn btn-lg btn-success border rounded-0">
            Read More
          </button>
        </div>
      </div>
      <div class="col d-none d-md-block d-lg-block">
        <img
          src="/images/whoweare.webp"
          alt="who are we img"
          class="img-fluid h-100"
        />
      </div>
    </div>
  </div>
</section>

<section class="services p-5">
  <div class="text-center mb-5">
    <h5 class="text-muted">THE BEST DEALS</h5>
    <h1>Services</h1>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 service-card" data-aos="flip-up"
      data-aos-duration="1500"
      >
        <div class="col-header">
          <img src="/images/counsult.webp" alt="" class="img-fluid" />
          <h1>Consulting</h1>
        </div>
        <p class="text-muted">
          Nulla aliquet bibendum sem, non placer risus venenatis at. Prae sent
          vulputate bibendum dictum.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 service-card" data-aos="flip-up"
      data-aos-duration="1500"
      >
        <div class="col-header">
          <img src="/images/realestate.webp" alt="" class="img-fluid" />
          <h1>Real estate</h1>
        </div>
        <p class="text-muted">
          Nulla aliquet bibendum sem, non placer risus venenatis at. Prae sent
          vulputate bibendum dictum.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 service-card" data-aos="flip-up"
      data-aos-duration="1500"
      >
        <div class="col-header">
          <img src="/images/renting.webp" alt="" class="img-fluid" />
          <h1>Renting</h1>
        </div>
        <p class="text-muted">
          Nulla aliquet bibendum sem, non placer risus venenatis at. Prae sent
          vulputate bibendum dictum.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 service-card" data-aos="flip-up"
      data-aos-duration="1500"
      >
        <div class="col-header">
          <img src="/images/meditation.webp" alt="" class="img-fluid" />
          <h1>Meditation</h1>
        </div>
        <p class="text-muted">
          Nulla aliquet bibendum sem, non placer risus venenatis at. Prae sent
          vulputate bibendum dictum.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 service-card" data-aos="flip-up"
      data-aos-duration="1500"
      >
        <div class="col-header">
          <img src="/images/evaluation.webp" alt="" class="img-fluid" />
          <h1>Evaluation</h1>
        </div>
        <p class="text-muted">
          Nulla aliquet bibendum sem, non placer risus venenatis at. Prae sent
          vulputate bibendum dictum.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 service-card" data-aos="flip-up"
      data-aos-duration="1500"
      >
        <div class="col-header">
          <img src="/images/price.webp" alt="" class="img-fluid" />
          <h1>Price Consulting</h1>
        </div>
        <p class="text-muted">
          Nulla aliquet bibendum sem, non placer risus venenatis at. Prae sent
          vulputate bibendum dictum.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="feeds">
  <div class="container py-5 text-center">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-4">
      <div class="col text-white">
        <img src="/images/mile-1.svg" class="img-fluid" />
        <h1>425</h1>
        <small>Homes sold</small>
      </div>
      <div class="col text-white">
        <img src="/images/mile-2.svg" class="img-fluid" />
        <h1>18</h1>
        <small>Awards</small>
      </div>
      <div class="col text-white">
        <img src="/images/mile-3.svg" class="img-fluid" />
        <h1>25k</h1>
        <small>followers</small>
      </div>
      <div class="col text-white">
        <img src="/images/mile-4.svg" class="img-fluid" />

        <h1>1265</h1>
        <small>rentals</small>
      </div>
    </div>
  </div>
</section>

<section class="contact-bottom p-5">
  <div class="container text-center">
    <a href="/contact" class="btn btn-lg text-white bg-success rounded-0"> contact now </a href="#">
  </div>
</section>
