<section class="contactSection">
  <div class="container-fluid">
    <h2 class="text-white m-0 p-0">contact Us</h2>
  </div>
</section>
<section class="info-section my-5">
  <div class="text-center">
    <h5 class="text-muted">THE BEST DEALS</h5>
    <p class="display-3 fw-bold">Get in touch</p>
  </div>
  <div class="container text-lg-start text-center my-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="col">
        <div class="logo mb-3">
          <a href="/">
            <span class="my">my</span><span class="home">home</span>
          </a>
        </div>
        <p class="text-muted">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur
          dolorum incidunt quo nulla sunt, qui delectus sint laudantium eum hic,
          nihil ullam ducimus autem debitis odit sapiente minima quos a!
        </p>
      </div>
      <div class="col">
        <ul>
          <li>+546 990221 123</li>
          <li>Main Str, no 23, New York</li>
          <li>hosting@contact.com</li>
        </ul>
      </div>
      <div class="col">
        <img src="/images/touch.webp" alt="house with key" class="img-fluid" />
      </div>
    </div>
  </div>

  <div class="contact-form">
    <form action="#" method="post">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 mb-2 mb-md-0">
            <input type="text" placeholder="Your name" class="form-control" />
          </div>
          <div class="col-12 col-md-4 mb-2 mb-md-0">
            <input type="email" placeholder="Your email" class="form-control" />
          </div>
          <div class="col-12 col-md-4 mb-2 mb-md-0">
            <input type="text" placeholder="Subject" class="form-control" />
          </div>
        </div>
        <textarea
          class="mb-4 mt-0 mt-md-3 form-control"
          name=""
          id=""
          cols="30"
          rows="7"
          placeholder="Your message"
        ></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success btn-lg">
          Send e-mail
        </button>
      </div>
    </form>
  </div>
</section>
