

<section class="home-hero">
    <div class="container">
        <div class="find-home">
            <h1>Find Your Home</h1>
        </div>
        <div class="form-container">
            <form action="">
             <div class="form-group">   <input type="text" placeholder="Type"></div>
             <div class="form-group">    <input type="text" placeholder="Location"></div>
             <div class="form-group">  <input type="text" placeholder="# of Rooms"></div>
             <div class="form-group"><button type="submit" class="submit-search">Search</button></div>
            </form>
        </div>
    </div>

</section>
<section class="features py-4"  data-aos="fade-up"      data-aos-duration="2000">
    <div class="container">
        <div class="text-center py-5">
            <h5 class="text-muted ">The Best Deals</h5>
            <h1>Featured Proprties
        </div>
      
        </h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col">
            <div class="card h-100">
              <div class="property-info">
             
                <div class="house-type">Villa</div>
                <div class="property-type">RENT</div>
                <div class="price">$217 346</div>
              </div>
              <div class="card-img"> 
                 <img src="/images/listing_1.jpg.webp" class="card-img-top img-fluid main-img" alt="...">
              </div>
            
              <div class="card-body">
      
                <img src="/images/address.webp" alt="address">
                <a href="#" class="card-text" >This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a>
              </div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="text-muted"> <img src="/images/foot.webp" alt=""> <span>1000</span> </div>
                <div class="text-muted"> <img src="/images/bathtub.webp" alt=""><span>3</span></div>
                <div class="text-muted"> <img src="/images/rooms.webp" alt=""><span>3</span></div>
                <div class="text-muted"> <img src="/images/garage.webp" alt=""><span>3</span></div>
           
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="property-info">
             
                <div class="house-type">Villa</div>
                <div class="property-type">RENT</div>
                <div class="price">$217 346</div>
              </div>
              <div class="card-img"> 
                 <img src="/images/listing_1.jpg.webp" class="card-img-top img-fluid main-img" alt="...">
              </div>
            
              <div class="card-body">
      
                <img src="/images/address.webp" alt="address">
                <a href="#" class="card-text" >This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a>
              </div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="text-muted"> <img src="/images/foot.webp" alt=""> <span>1000</span> </div>
                <div class="text-muted"> <img src="/images/bathtub.webp" alt=""><span>3</span></div>
                <div class="text-muted"> <img src="/images/rooms.webp" alt=""><span>3</span></div>
                <div class="text-muted"> <img src="/images/garage.webp" alt=""><span>3</span></div>
           
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="property-info">
             
                <div class="house-type">Villa</div>
                <div class="property-type">RENT</div>
                <div class="price">$217 346</div>
              </div>
              <div class="card-img"> 
                 <img src="/images/listing_1.jpg.webp" class="card-img-top img-fluid main-img" alt="...">
              </div>
            
              <div class="card-body">
      
                <img src="/images/address.webp" alt="address">
                <a href="#" class="card-text" >This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</a>
              </div>
              <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="text-muted"> <img src="/images/foot.webp" alt=""> <span>1000</span> </div>
                <div class="text-muted"> <img src="/images/bathtub.webp" alt=""><span>3</span></div>
                <div class="text-muted"> <img src="/images/rooms.webp" alt=""><span>3</span></div>
                <div class="text-muted"> <img src="/images/garage.webp" alt=""><span>3</span></div>
           
              </div>
            </div>
          </div>
    </div>
</section>
<section class="hot-deals" data-aos="fade-right"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine"
>
  <div class="container">
   <div class="text-center my-5"> <h3 class="text-muted">THE BEST DEALS</h3>
    <h1>Today's Hot Deal</h1>
  </div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-lg-6 col-12">
          <div class="property-info">
            <div class="house-type">Villa</div>
            <div class="property-type">RENT</div>
          </div>
     
          <img src="/images/listing_2.webp" class="img-fluid rounded-start h-100" alt="...">
        </div>
        <div class="col-lg-6 col-12">
          <div class="card-content h-100 d-flex flex-column">

       
          <div class="card-body">
            
            <div class="p-3 card-body-holder ">
              <div class="price">$27 2020</div>
              <div>
                <h3>Villa  for sale</h3>
                <h5> <img src="/images/address.webp" alt="address"> 280 DOE MEADOW DRIVE LANDOVER, MD 20785
                </h5>
              </div>
             
              <p>NULLA ALIQUET BIBENDUM SEM, NON PLACERAT RISUS VENENATIS AT. PRAE SENT VULPUTATE BIBENDUM DICTUM. CRAS AT VEHICULA URNA. SUSPENDISSE FRINGILLA LOBORTIS JUSTO, UT TEMPOR LEO CURSUS IN.</p>
            </div>
          </div>
          <div class="card-footer">
            <div class=" d-flex align-items-center justify-content-between">
              <div >
                  <img src="/images/foot.webp" alt="" height="20">
                  <span>1234 <br>sq ft</span>
              </div>
              <div >
                  <img src="/images/bathtub.webp" alt="" height="20">
                  <span>2 <br>bathrooms</span>
              </div>
              <div>
                  <img src="/images/garage.webp" alt="" height="20">
                  <span>2 <br> garage</span>
              </div>
              <div >
                  <img src="/images/rooms.webp" alt="" height="25">
                  <span>5 <br>bedrooms</span>
              </div>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--Testimonials-->
<section class="testimonials-container mt-5 d-flex">
 <div class="container-fluid mx-0 w-100 p-0">
   <div class="card border-0 h-100 testimonial-container">
     <div class="row">
      <div class="col-12  col-md-6 col-lg-7 img-fluid text-overlay" 
      data-aos="fade-right"
     data-aos-offset="500"
     data-aos-duration="500">
        <img src="/images/test.webp" class="img-fluid h-100" alt="test-img">
      </div>
      <div class="col-12 col-md-6 col-lg-5" data-aos="fade-left"
  
     data-aos-offset="500"
     data-aos-duration="500">
        <div class="card-body flex-column align-items-start justify-content-start h-100 ">
          <h5 class="card-title text-muted">The Best Deals</h5>
          <h1 class="card-text d-block">
            Client <br> testimonials 
          </h1> 
          <div class="carousel h-100">
            <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active   w-100">
                
                  <div class="testimonial-content ">
                    <h3>"They helped us find our home"</h3>
                    <p class="card-text text-muted mb-5 my-md-0 my-lg-0 ">Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in. Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.</p>
                  </div>
                 
                </div>
                <div class="carousel-item    w-100">
                
                  <div class="testimonial-content">
                    <h3>"They helped us find our home"</h3>
                    <p class="card-text text-muted mb-5 my-md-0 my-lg-0">Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in. Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.</p>
                  </div>
                 
                </div>
                <div class="carousel-item    w-100">
                
                  <div class="testimonial-content">
                    <h3>"They helped us find our home"</h3>
                    <p class="card-text text-muted mb-5 my-md-0 my-lg-0">Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in. Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.</p>
                  </div>
                 
                </div>
              </div>
             
            </div>
          </div>
        </div>
       </div>
       
        </div>
      
   </div>
 </div>
 </div>
</section>